<!DOCTYPE html>
<html lang="en">
    
  {{> header}}

  <body>

    {{> navbar}}

    <h2>Products Details</h2>
    <p><a href="/addproduct" class="addbtn">Add Product</a></p>
    <table>
      <thead>
       <tr>
        <td>No</td>
        <td>Product name</td>
        <td>Price</td>
        <td>Quantity</td>
        <td>Edit</td>
        <td>Delete</td>
       </tr>
      </thead>
      <tbody>
        {{#each rows}}
        <tr>
          <td>{{this.ID}}</td>
          <td>{{this.ProductName}}</td>
          <td>{{this.Price}}</td>
          <td>{{this.Quantity}}</td>
          <td><a class="edit" href="/editproduct/{{this.ID}}" >Edit</a></td>
          <td><a onclick="return confirm('Are you sure You want to delete?')" class="delete" href="/deleteproduct/{{this.ID}}" >Delete</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>

  </body>
</html>